{% extends "base.html" %}

{% block lab %}Лабораторная работа 4{% endblock %}

{% block main %}
    {% if authorized %}
        <h1>Добро пожаловать, {{ name }}!</h1>

        <p><a href="/lab4/users">Просмотреть список пользователей</a></p>
        
        <div>
            <form action="/lab4/logout" method="post">
                <button>Выход</button>
            </form>
        </div>
    {% else %}
        <h1>Вход</h1>
        <h2>Пожалуйста, авторизуйтесь</h2>
        <form method="post">
            <div>
                <label for="login">Пользователь:</label>
                <input type="text" id="login" name="login" value="{{ login }}">
            </div>
            <div>
                <label for="password">Пароль:</label>
                <input type="password" id="password" name="password">
            </div>
            <div>
                {% if error %}
                    <p style="color: red; font-style: italic;">{{ error }}</p>
                {% endif %}
            </div>
            <div>
                <button type="submit">Войти</button>
                <button type="reset">Отмена</button>
            </div>
        </form>

        <p>Ещё не зарегистрированы? <a href="/lab4/register">Зарегистрироваться</a></p>
    {% endif %}
{% endblock %}