{% extends "base.html" %}

{% block lab %}Умножение чисел{% endblock %}

{% block main %}
    <h1>Умножение чисел</h1>
    
    <form method="post" action="/lab4/mul">
        <input type="number" name="x1" value="{{ x1 or '' }}" placeholder="Введите первое число">
        *
        <input type="number" name="x2" value="{{ x2 or '' }}" placeholder="Введите второе число">
        <input type="submit" value="=">
    </form>
    
    {% if result is not none %}
        <p>Результат: {{ result }}</p>
    {% endif %}
{% endblock %}