{% extends "lab2/base2.html" %}

{% block lab %}Лабораторная работа 2{% endblock %}

{% block main %}
    <h1>Ягоды</h1>
    <div>
        <p>Жимолость
    <img src="/static/lab2/ber1.webp" height="150"> </p></div>

    <div>
        <p>Клубника
    <img src="/static/lab2/клубника.jpeg" height="150"> </p></div>

    <div>
        <p>Клюква
    <img src="/static/lab2/клюква.jpeg" height="150"> </p></div>

    <div>
        <p>Малина
    <img src="/static/lab2/малина.jpeg" height="150"> </p></div>

    <div>
        <p>Черника
    <img src="/static/lab2/черника.jpeg" height="150"> </p></div>
    
{% endblock %}
