{% extends "lab5/base5.html" %}

{% block lab %}Лабораторная работа 8{% endblock %}

{% block main %}
    <h1>База знаний</h1>
    <p><p>Пользователь: {{ current_user.login if current_user.is_authenticated else 'anonymous' }}</p></p>
    <a href="{{ url_for('lab8.logout') }}">Выйти из аккаунта</a>
    <div class="links-container">
        <div class="link-box">
            <a href="/lab8/login">Вход</a>
        </div>
        <div class="link-box">
            <a href="/lab8/register">Регистрация</a>
        </div>
        <div class="link-box">
            <a href="/lab8/articles">Список статей</a>
        </div>
        <div class="link-box">
            <a href="/lab8/create">Создать статью</a>
        </div>
        <div class="link-box">
            <a href="/lab8/public_articles">Публичные статьи</a>
        </div>
        <div class="link-box">
            <a href="/lab8/search">Поиск статьи по тексту</a>
        </div>
    </div>
{% endblock %}